html{
    --myBleu:#0D3C55;
    --myRed:#91090B;
    --myBackground:#f4efeb;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #FFF;
	background-color: var(--myBleu);
	font-size:1rem!important;
	
}
footer div.container-fluid{
	height:90px;
}
h5.text-uppercase{
	padding-bottom:5px;
	font-size: 1rem;
}
h5 + p{
	font-size: small;
}
div.row div{
	padding-bottom:30px;
}
.list-unstyled{
	margin-bottom:0;
	font-size: small;
}
li.icon{
	font-size:12px; 
	width:26px; 
	height:26px; 
	line-height:26px; 
	margin-left:6px; 
	margin-right:6px;
	margin-bottom:12px;
	display: inline;


}
li.icon > a{
	text-decoration:none;
	color: white;
}

.footer-copyright{
	background-color: #082636;
	padding:0!important;
}*/