<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<!-- css -->
<link rel="stylesheet" type="text/css" th:href=@{/css/headerStyle.css}>
<link rel="stylesheet" type="text/css" th:href=@{/css/footerStyle.css}>
<link rel="stylesheet" type="text/css" th:href=@{/css/formStyle.css}>

</head>
<body>
		<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<img height="50" alt="novelis" th:src="@{/images/novelis-logo.jpg}">
			<div>
				<a class="navbar-brand" href="#">Collaborators</a>
			</div>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarTogglerDemo02">
				<span class="navbar-toggler-icon"></span>
			</button>
			<input type="hidden" th:value="${id}" id="id">
			<div class="manage-collabs collapse navbar-collapse"
				id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link" href="http://localhost:8080/">Home</a>
					</li>
					<li class="nav-item active"><a class="nav-link" href="http://localhost:8080/Collabs/">Collaborators'
							List</a></li>
					<li class="nav-item active"><a class="nav-link" href="http://localhost:8080/Collab/add">Add
							Collaborator</a></li>
				</ul>
				<div class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 search-input" type="search"
						placeholder="Search">
					<button class="btn btn-outline-search my-2 my-sm-0 btn-search" type="submit">Search</button>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="container-fluid">
		<form class="well form-horizontal"
			action="http://localhost:8080/Collaborators" method="POST"
			id="contact_form">
			<!-- Form Name -->
			<br>
			<legend>
				<center>
					<h2>
						<b>Add Collaborator</b>
					</h2>
				</center>
			</legend>
			<br>
			<fieldset class="col-md-6 offset-md-3 fieldset-form">
				<!-- Text input-->
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label"
						for="firstName">First Name</label>
					<div class=".col-md-6 .offset-md-3 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-user-ninja"></i></span>
								<input 
								id="firstName"
								name="firstName" placeholder="First Name" class="form-control"
								type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label" 
						for="lastName">Last Name</label>
					<div class=".col-md-6 .offset-md-3 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-user-ninja"></i></span>
								<input 
								id="lastName"
								name="lastName" placeholder="Last Name" class="form-control"
								type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label" 
						for="civility">Civility</label>
					<div class=".col-md-6 .offset-md-3 selectContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-venus-mars"></i></span> 
								<select 
								id="civility"
								name="civility" class="form-control selectpicker">
								<option value="">Select your Civility</option>
								<option>Mme</option>
								<option>M.</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label"
						for="birthDate">Date</label>
					<div class=".col-md-6 .offset-md-3 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-calendar-day"></i></span> 
								<input 
								id="birthDate"
								name="birthDate" value="1980-01-01" class="form-control"
								type="date">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label" 
						for="email">E-Mail</label>
					<div class=".col-md-6 .offset-md-3 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-at"></i></span>
								<input 
								id="email" 
								name="email"
								placeholder="E-Mail Address" class="form-control" type="email">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class=".col-md-6 .offset-md-3 control-label"
						for="phoneNumber">Phone Number</label>
					<div class=".col-md-6 .offset-md-3 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i
								class="fas fa-mobile"></i></span> 
								<input 
								id="phoneNumber"
								name="phoneNumber" placeholder="(+212)" class="form-control"
								type="text">
						</div>
					</div>
				</div>
				<div id="postResultDiv"></div>
				
				<div class="form-group">
					<label class=".col-md-3 .offset-md-3 control-label"></label>
					<div class=".col-md-3 .offset-md-3">
						<br>
						<button type="submit" class="btn btn-light" id="sendSerialized">
							<span class="fas fa-paper-plane"> Submit</span>
						</button>
					</div>
				</div>
				<!-- Success message -->
				<!-- <div class="alert alert-success" role="alert" id="success_message">Success 
                <i class="fas fa-thumbs-up"></i> Success!.</div> -->
			</fieldset>
		</form>
	</div>


	<!-- js -->
	<script src="https://kit.fontawesome.com/779820428c.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/formJs.js}"></script>
</body>
</html>