<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Informations</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		  crossorigin="anonymous">
	<link th:href="@{/css/infoStyle.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<img height="55" alt="novelis" th:src="@{/images/novelis-logo.jpg}">
			<div>
				<a class="navbar-brand" href="#">Collaborators Management</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
				<input type="hidden" th:value="${id}" id="id">
			<div class="manage-collabs collapse navbar-collapse"
				id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link"
						href="./home.html">Home</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="./collaboratorsList.html">Collaborators' List</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="./form.html">Add Collaborator</a></li>
				</ul>
				<div class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 search-input " type="search"
						placeholder="Search">
					<button class="btn btn-outline-search my-2 my-sm-0 btn-search" type="submit">Search</button>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 bg-img">
				<img th:src="@{/images/avatar-blank-profile.PNG}"
					class="avatar-blank-profile img-thumbnail">
			</div>
			<div class="col-sm-9 bg-infos">
				<br>
				<div class="d-flex flex-column collab-infos">
					<!-- <div class="p-2 bd-highlight">NOM</div>
					<div class="p-2 bd-highlight">Prénom</div>
					<div class="p-2 bd-highlight">date/de/naissane</div>
					<div class="p-2 bd-highlight">email@email.com</div>
					<div class="p-2 bd-highlight">0600000000</div> -->
					<br>
				</div>
				<div class="row ">
					<div class="col align-self-end">
						<div class=" d-flex flex-row-reverse ">
							<div class="p-2 bd-highlight delete-btn">
								
									<button type="submit" class="btn btn-primary btn-delete" data-confirm="Are you sure you want to delete this collaborator ? ">
										<span class="icon"><i class="fa fa-trash"
											aria-hidden="true"></i></span>
									</button>
								
							</div>
							<div class="p-2 bd-highlight update-btn">
								
									<button type="submit" class="btn btn-primary btn-update">
										<span class="icon"><i class="fa fa-pencil"
											aria-hidden="true"></i></span>
									</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/infosJs.js}"></script>
	<script type="text/javascript" th:src="@{/js/searchJs.js}"></script>
</body>
</html>